CARDDEMO_POSTGRES_DB=carddemo
CARDDEMO_POSTGRES_USER=carddemo
CARDDEMO_POSTGRES_PASSWORD=carddemo
CARDDEMO_POSTGRES_PORT=5432

NACA_DATABASE_URL=jdbc:postgresql://localhost:5432/carddemo
NACA_DATABASE_USERNAME=carddemo
NACA_DATABASE_PASSWORD=carddemo
NACA_DATABASE_DRIVER_CLASS_NAME=org.postgresql.Driver
CARDDEMO_CICS_APPLID=CARDDEMO
CARDDEMO_CICS_SYSID=NACA
