<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="ISO-8859-1"/>
    <property name="fileExtensions" value="java"/>

    <module name="SuppressionFilter">
        <property name="file" value="${checkstyle.suppressions.file}"/>
    </module>
    <module name="FileTabCharacter"/>
    <module name="LineLength">
        <property name="max" value="140"/>
        <property name="ignorePattern" value="^(package|import) .*"/>
    </module>
    <module name="TreeWalker">
        <module name="RegexpSinglelineJava">
            <property name="format" value="^\s*//\s*(TODO|FIXME)\s*[^(:]+$"/>
            <property name="message" value="TODO/FIXME comments must include an owner or issue reference."/>
            <property name="ignoreComments" value="false"/>
        </module>
        <module name="AvoidStarImport"/>
        <module name="OneTopLevelClass"/>
        <module name="OuterTypeFilename"/>
        <module name="NeedBraces"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="FallThrough"/>
        <module name="MissingSwitchDefault"/>

        <module name="MemberName">
            <property name="format" value="^(?!m_)[a-z][a-zA-Z0-9]*$"/>
        </module>
        <module name="LocalVariableName">
            <property name="format" value="^(?!m_)[a-z][a-zA-Z0-9]*$"/>
        </module>
        <module name="ParameterName">
            <property name="format" value="^(?!m_)[a-z][a-zA-Z0-9]*$"/>
        </module>

        <module name="MissingJavadocType">
            <property name="scope" value="public"/>
        </module>
        <module name="MissingJavadocMethod">
            <property name="scope" value="public"/>
            <property name="allowMissingPropertyJavadoc" value="true"/>
        </module>
        <module name="JavadocParagraph"/>
        <module name="JavadocTagContinuationIndentation"/>
    </module>
</module>
